extends layout

block content
  title Freespee assignment
  h1 Freespee assignment
  p Anders Hjelm
  p 2018-04-23

  div.table43
    div.cell(id='c11')
    div.cell(id='c12')
    div.cell(id='c13')

    div.cell(id='c21')
    div.cell(id='c22')
    div.cell(id='c23')

    div.cell(id='c31')
    div.cell(id='c32')
    div.cell(id='c33')

    div.cell(id='c41')
    div.cell(id='c42')
    div.cell(id='c43')

  div
    input(type='text', id='output', disabled)

  div.button
    button(type='button', id='sumButton') Sum

  div(id='sumOutput')

  audio(autoplay=false)

