/* Variables
================================== */
/* Tables
================================== */
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700);
.table43 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1em 0;
  padding: 0;
}
.cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  background: rgba(112, 128, 144, 0.2);
  cursor: pointer;
}
/* Table column sizing
================================== */
.table43 > .cell {
  width: 33.33%;
}
/* Page styling
================================== */
html {
  height: 100%;
  background-color: #EEE;
}
body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2em;
  max-width: 400px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  background-color: white;
  border: double 3px #DDD;
  border-top: none;
  border-bottom: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1em;
}
strong {
  color: #434d57;
}

input {
  width: 81%;
  padding: 0.8em 1.2em;
  border: 1px solid black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
}

.button {
  text-align: center;
  margin: 1em;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5em 2em;
}

#sumOutput {
  text-align: center;
  margin: 1em;
}